:root {
    --color-blue1: #c7f9cc;
    --color-blue2:#80ed99;
    --color-blue3:#57cc99;
    --color-blue4: #38a3a5;
    --color-blue5: #22577a;
    --color-black:#000000;
    --color-white:#FFFFFF;
  }
  